name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths:
      - '**.py'
      - '.github/workflows/**'

  pull_request:
    branches-ignore: []

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 5
      matrix:
        python: [3.7, 3.8, 3.9]
      fail-fast: false

    steps:

    - name: precleanup
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"

    - uses: actions/checkout@v2
    - uses: docker-practice/actions-setup-docker@master
    - name: Test docker
      run: |
          set -x
          docker version
          docker run --rm hello-world

    - name: install graphviz
      run: |
        sudo apt update
        sudo apt-get install -y graphviz software-properties-common

    - name: install apptainer
      run: |
        sudo add-apt-repository -y ppa:apptainer/ppa
        sudo apt update
        sudo apt install -y apptainer
        singularity version

    - name: Set up Python 3.X
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install Damona using pip
      run: |
        pip install .[testing]
    - name: Test with pytest
      run: |
        damona env --create damona__testing__
        pytest --cov-report term --cov=damona
      env:
        DAMONA_EXE: /usr/share/miniconda/bin/damona
        DAMONA_PATH: /home/runner/.config/damona
    - name: coveralls
      run: |
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ github.token }}






